/* Hide stuff that is for tech admins to manage */
#dashboard-customizations-by-the-mighty-mo-design-co,
[data-slug="dashboard-customizations-by-the-mighty-mo"],
.jp-banner,
.monsterinsights-notice,
.error
[data-slug="dashboard-customizations-by-the-mighty-mo"],
tr[data-slug="updraftplus"],
tr[data-slug="sg-cachepress"],
li#wp-admin-bar-updraft_admin_node,
tr[data-slug="amazon-s3-and-cloudfront"],
tr[data-slug="media-cloud-premium"],
tr[data-slug="github-updater"],
li#toplevel_page_media-cloud {
	display: none;
}
/* If the current user is Toby or themightymo, then display stuff. */
.username-toby #dashboard-customizations-by-the-mighty-mo-design-co,
.username-toby .jp-banner,
.username-toby .monsterinsights-notice,
.username-toby [data-slug="dashboard-customizations-by-the-mighty-mo"],
.username-toby tr[data-slug="updraftplus"],
.username-toby li#wp-admin-bar-updraft_admin_node,
.username-toby tr[data-slug="sg-cachepress"],
.username-toby tr[data-slug="amazon-s3-and-cloudfront"],
.username-toby tr[data-slug="media-cloud-premium"],
.username-toby tr[data-slug="github-updater"],
.username-toby li#toplevel_page_media-cloud,

.username-themightymo #dashboard-customizations-by-the-mighty-mo-design-co,
.username-themightymo .jp-banner,
.username-themightymo .monsterinsights-notice,
.username-themightymo [data-slug="dashboard-customizations-by-the-mighty-mo"],
.username-themightymo tr[data-slug="updraftplus"],
.username-themightymo li#wp-admin-bar-updraft_admin_node,
.username-themightymo tr[data-slug="sg-cachepress"],
.username-themightymo tr[data-slug="amazon-s3-and-cloudfront"],
.username-themightymo tr[data-slug="media-cloud-premium"],
.username-themightymo tr[data-slug="github-updater"],
.username-themightymo li#toplevel_page_media-cloud {
	display: table-row;
}
#tmm_support_dashboard_widget {
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png);
}
/* remove WPMUDEV junk */
div.wpmudev-new, div.wpmudev-message, div.wpdv-msg, #wpmu-install-dashboard, .wrap .frash-notice.notice {
	display: none !important;
}