#dashboard-customizations-by-the-mighty-mo-design-co,
.jp-banner,
.monsterinsights-notice,
.error
[data-slug="dashboard-customizations-by-the-mighty-mo"] {
	display: none;
}
.username-themightymo #dashboard-customizations-by-the-mighty-mo-design-co,
.username-themightymo .jp-banner,
.username-themightymo .monsterinsights-notice,
.username-themightymo [data-slug="dashboard-customizations-by-the-mighty-mo"],
.username-toby #dashboard-customizations-by-the-mighty-mo-design-co,
.username-toby .jp-banner,
.username-toby .monsterinsights-notice,
.username-toby [data-slug="dashboard-customizations-by-the-mighty-mo"] {
	display: table-row;
}
#tmm_support_dashboard_widget {
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png);
}
/* remove WPMUDEV junk */
div.wpmudev-new, div.wpmudev-message, div.wpdv-msg, #wpmu-install-dashboard, .wrap .frash-notice.notice {
	display: none !important;
}